
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* background: rgb(190, 185, 185); */
  
}


.loginform{
  background: rgb(190, 185, 185);
  height: 100vh;
  

}

.forml{
  width:60%;
  margin: 50px ;
  margin-left: 30%;
}

.formr{
  width:40%;
  height:40%;
  margin: 50px ;
  margin-left: 20%;
}