
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* background: rgb(190, 185, 185); */
  
}

/* navbar */
.mynav{
  /* position: sticky; */
  color: white;
  font-weight: bolder;
  background: rgba(54, 87, 137, 0.37)
  /* font-size: 28px; */
  /* z-index: 100px; */
}
/* navbar ends */

/* login.html */

.loginform{
  /* background:rgb(169, 155, 155); */
  /* background: linear-gradient(180deg, rgba(185, 105, 31, 0.66) 0%, rgba(6, 43, 172, 0.429) 100%); */
  background: rgba(54, 87, 137, 0.37);
  height: 60vh;
  width:60%;
  margin-left:20%;
  border-radius:10px
 
}

.forml{
  width:60%;
  height:60vh;
  margin: 50px ;
  margin-left: 40%;
  background: linear-gradient(180deg, rgba(22, 30, 61, 0.65) 0%, rgba(238, 238, 238, 0.65) 100%);
  /* background: linear-gradient(180deg, rgba(185, 105, 31, 0.66) 0%, rgba(6, 43, 172, 0.429) 100%); */
  border-radius: 10px;
  padding: 10px
  
}

/* login ends */

/* register.html */
.registerform{
  background: rgba(54, 87, 137, 0.37);
  
  /* background: linear-gradient(180deg, rgba(185, 105, 31, 0.66) 0%, rgba(6, 43, 172, 0.429) 100%); */
  height: auto;
  width:60%;
  margin-left:20%;
  border-radius:10px;
  
 
}

.formr{
  width:60%;
  height:auto;
  margin: 50px ;
  margin-left: 40%;
  background: linear-gradient(180deg, rgba(22, 30, 61, 0.65) 0%, rgba(238, 238, 238, 0.65) 100%);
  
  /* background: linear-gradient(180deg, rgba(185, 105, 31, 0.66) 0%, rgba(6, 43, 172, 0.429) 100%); */
  border-radius: 10px;
  padding: 20px
  
}


/* register ends */



/* home.html */
#row1{
  margin-top:20px
}

#home-card{
  border-radius: 10px;
  padding: 20px
}

.knowing{
  width: 100%;
  background-color: #fff;
  height:70px;
  border-radius: 2px;
  padding: 5px;
}

.knowing-image{
  width: 30%;
  height:60px;
  background-color: blue;
  /* border: 20px solid red; */
  border-radius:250rem;
}


/* home ends */