.loginform{
  height: 60vh;
  width:60%;
  margin-left:20%;
  border-radius:10px;

}

.mylogin{
  height: 100vh;
} 

.forml{
  background: linear-gradient(180deg, rgba(30, 37, 66, 0.65) 0%, rgba(238, 238, 238, 0.65) 100%);
  border-radius: 5px;
  padding: 10px;
  width: 40%;
}  