{% extends 'base.html' %}


{% block content%}



{%for post in posts%}

<div class="card" style="width: 38rem;">
  <img class="card-img-top" src="{{post.image.url}}" alt="Card image cap" width="400px" height="400px">
  <div class="card-body">
   <p> <a href="#" class="card-link"><i class="fa fa-heart-o " aria-hidden="true"></i></a><button type="button" class="btn btn-outline-secondary">Follow</button></p>
    <p class="card-text"><span style="color:blue">#{{post.img_name}}</span></p>

    <p class="card-text">{{post.imge_caption}}</p>
  </div>
  
    
    <form action="">
        {%csrf_token%}
       <p>{{form}}
        <input type="submit"></p> 
    </form>
  
</div>
<br><br>
{%endfor%}






{%endblock%}
