{% extends 'base.html' %}
{%load static%}
    {% block styles %} 
    <link rel="stylesheet" href="{% static 'css/landing.css' %}">
   
     {% endblock %}

     
{% block content%}
<div class="profilecard">

{%for post in profile%}

  {% if post.profile_photo%}
    <img class="" src="{{post.profile_photo.url}}" alt="Card image cap" width="400px" height="400px">
 {%endif%}
    <div class="card-body">
    <p class="card-text">Name: {{post.name}} <br> Username: {{post.username}}</p>

    <p class="card-text">{{post.imge_caption}}</p>
  </div>
<div class="card-body">
    Bio <br>{{post.bio}}
</div>
<button type="button" class="btn btn-outline-danger">
        <a class="" href=""> follow {{post.username}} </a>
 </button>

{%endfor%}

</div>




{%endblock%}
